/* 
    StyleSheet for Breeze with trees


*/
body{
    background-color: rgba(87, 64, 42, 0.90); 

}
/* div.container{
    background-color: rgba(87, 64, 42, 0.90);
} */
/* html{
    background-image: url("It'sBatmanYo.jpg")
} */
nav{
    background-color: rgba(36, 89, 48, .80);
    border-bottom: 4px inset lightgreen;
    margin-bottom: 2%;
}
nav.navbar{
    background-color: rgba(36, 89, 48, .80);
    border: 0px;
    border-bottom: 4px inset lightgreen;
    
}
nav a{
    color: lightgreen;
}
nav a:hover{
    color: rgba(121, 237, 69, 0.69);
}
.nav > li > a:hover{
    background-color: rgb(40, 51, 42);
}
header#startScreen{
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(Placeholder.jpeg);
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(PlaceHolder.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}
