/* 
    StyleSheet for Breeze with trees


*/
body{
    background-color: rgba(36, 89, 48, 1);
    
}
html{
    background-color: white;
 
}
/* div.container{
    background-color: rgba(87, 64, 42, 0.90);
} */
/* html{
    background-image: url("It'sBatmanYo.jpg")
} */
nav{
    background-color: rgba(36, 89, 48, .80);
    border-bottom: 4px inset rgba(0, 20, 0, .60);
    margin-bottom: 2%;
}
nav.navbar{
    background-color: rgba(36, 89, 48, .80);
    border: 0px;
    border-bottom: 4px inset rgb(5, 27, 12);
    
}
nav a{
    color: lightgreen;
    text-shadow: 10px 2px 15px black;
}
nav a:hover{
    color: rgba(121, 237, 69, 0.69);
}
.nav > li > a:hover{
    background-color: rgba(0, 20, 0, .60);
}
.holder{
    padding: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    color: lightgreen;
    background: linear-gradient(-180deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .7));
    /* border-radius: 10%; */
    box-shadow: 10px 2px 15px black;
    border-radius: 10%;
}
.section{
    padding: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 2px inset rgb(40, 51, 42);
    background-color: rgba(121, 237, 69, 0.69);
    /* border-radius: 10%; */
    box-shadow: 10px 2px 15px black;
}
.section h2{
    color: white;
}
.section h4{
    color: white;
}
.section .sectionHeading{
    padding: 3%;
    background-color: rgba(0, 20, 0, .60);
    background: linear-gradient(-180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9));
    text-align: center;
    border: 2px solid black;
    box-shadow: 10px 2px 15px black;
    text-shadow: 10px 2px 15px black;
}
.section p{
    font-size: 1.4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.learnMore{
    padding: 1%;
    background-color: rgba(0, 20, 0, .60);
    width: 40%;
    margin: auto;
    text-align: center;
}
.learnMore a{
    color: lightgreen
}
.section figure{
    padding: 3%;
    background-color: rgba(0, 20, 0, .60);
    margin: 2%;
    border-radius: 10px;
}
figure img{
    width: 90%;
    height: 90%;
    border-radius: 10%;
    box-shadow: 10px 2px 15px black;
}
figure figcaption{
    padding: 3%;
    background-color: rgba(0, 20, 0, .60);
    background: linear-gradient(-180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9));
    text-align: center;
    border: 2px solid black;
    box-shadow: 10px 2px 15px black;
    text-shadow: 10px 2px 15px black;
    color: white;
}
.tagline{
    color: white;
    padding: 10px;
    background-color: rgba(0, 20, 0, .60);
    /* box-shadow: 5px -10px rgb(5, 27, 12); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 10px 2px 15px black;
}
#pageDown{
    height: 26px;
    width: 40px;
}
header#startScreen{
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(tREEEEE.jpg);
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(tREEEEE.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    
    justify-content: space-between;
    text-align: center;
}
#blackbar{
    padding: 5%;
    background-color: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9));
}
footer{
    padding: 2%;
    background-color: rgb(5, 27, 12);
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .9));
    color: lightgreen;
    padding-bottom: 1%;
    box-shadow: 0px 10px 10px black;
}
footer img{
    width: 60px;
    height: 60px;
}